@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.DeletedFolloweesViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "Deleted Followees Details";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ScreenName
            </th>
            <th>
                Bio
            </th>
            <th>
                Deleted on
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var followeeModel in Model.DeletedFolloweesModels)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.ScreenName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.Bio)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.DeletedOn)
                </th>
            </tr>
        }
    </tbody>
</table>