@model ReTwitter.Web.Models.SearchViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
}
<br />
<br />
<br />
<h2>Search for Twitter Users</h2>
<br />
<form asp-controller="Search" asp-action="SearchResult" method="post">

    <div class="form-group">
        <label asp-for="SearchInput">Search input</label>
        <input asp-for="SearchInput" class="form-control" />
        <span asp-validation-for="SearchInput" class="text-danger"></span>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}