@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about-view.css" />

<div class="center-about-info">
    <h2 class="about-title">@ViewData["Title"]</h2>
    <h3 class="about-title info-about">Graduation project done with ASP.NET Core</h3>

    <p class="info-about">This web application is a graduation project for <strong>Telerik Academy Alpha</strong> (assignment given by: <strong>Telelink</strong>), done by <strong>Sophia Kiryakova</strong> and <strong>Alex Parvanov</strong>.</p>
    <p class="info-about">
        ReTwitter is a web application where you can register or use your twitter credentials.
        You can search for people and follow them through the app, check out their recent tweets,
        save your favourites and of course you can unfollow people. You can also browse through your personal collection of followees.
        The administrative part gives permission to change Users' roles. There you can also check out app's statistics such as the number
        of people registered (active and deleted), saved and deleted Twitter accounts and Tweets.
    </p>
</div>

<div class="images-container">
    <div class="row">
        <div class="col-sm-5">
            <p class="text-center-name"><strong>Sophie</strong></p><br>
            <a href="#sophie" data-toggle="collapse">
                <img src="/images/photo-Sophie.jpg" class="img-circle " alt="Sophie" width="255" height="255">
            </a>
            <div id="sophie" class="collapse">
                <p>Sophie has a background in chemical engineering.</p>
                <p>She discovered her true passion - programming about an year ago.</p>
                <p>Eversince she's been broadening her .NET horizons and knowledge.</p>
            </div>
        </div>
        <div class="col-sm-5">
            <p class="text-center-name"><strong>Alex</strong></p><br>
            <a href="#alex-parvanov" data-toggle="collapse">
                <img src="/images/photo-Alex.jpg" class="img-circle " alt="Alex" width="255" height="255">
            </a>
            <div id="alex-parvanov" class="collapse">
                <p>Alex is a former accountant who fell in love with development</p>
                <p>while managing the integration of a BI reporting tool.</p>
                <p>He adores .NET product portfolio and especially ASP.Net Core MVC.</p>
            </div>
        </div>
    </div>
</div>
