@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/flickering-letters.css" />

<div class="parent-div-image">

    <div class="im\age-index carousel-inner">
        <img src="~/images/retwitter.jpg" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">
            <p class="topCenter letters">ReTwitter</p>
            <p class="bottomCenter letters">Follow and save the most interesting and trendy tweets</p>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
<script src="~/js/flickering-letters.js"></script>