@model ReTwitter.Web.Models.TweetViewModel.TweetResultsViewModel
@{
    ViewData["Title"] = "TweetDisplay";
}

<h2>Tweet Display</h2>

<table class="table">
<tr>
    <th>
        Text
    </th>
    <th>
        OriginalTweetCreatedOn
    </th>
    <th>
        Entities
    </th>
</tr>

@foreach (var item in Model.TweetResults) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalTweetCreatedOn)
        </td>
        <td>      
            @Html.DisplayFor(model => item.Entities)                  
        </td>
        <td>
                 
        </td>
    </tr>
}
</table>