.letters span {
    color: #333;
    letter-spacing: .3em;
    transition: .8s;
}

.letters span.focus, .letters span.focus + span + span, .letters.minusTwo > span:first-child, .letters.minusOne > span:nth-child(2) {
    color: white;
    text-shadow: 0 0 16px white;
}

.letters span.focus + span, .letters.minusOne > span:first-child {
    color: darkOrange;
    text-shadow: 0 0 16px white;
}
