.center-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 80px;
}

.header-avatar {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    border: 5px solid #f5f5f5;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.35);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.35);
    box-shadow: 0 0 10px rgba(0,0,0,.35);
    margin: 25px auto;
}

.panel {
    border: 1px solid #1da1f4;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #1da1f4;
    background-color: #fff !important;
    color: #1da1f4;
}

.panel-heading {
    color: #fff !important;
    background-color: #1da1f4 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #1da1f4;
    color: #fff;
}