* {
    font: 400 15px Lato, sans-serif;
    font-family: 'Montserrat', sans-serif !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Navigation */
#main-nav {
    margin-bottom: 0;
    border: none;
    background: #4d505b;
    position: absolute;
    top: 0;
    background: rgba(0, 1 ,5, 0.8);
}
    #main-nav li a {
        color: #b6b7ba;
        padding: 15px 15px;
    }

    #main-nav .navbar-brand {
        color: #b6b7ba;
    }

        #main-nav .navbar-brand img {
            max-width: 35px;
        }

    #main-nav .user-nav {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: #fff;
}
/* Carousel */
.carousel-caption p {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 1.4;
}
.parent-div-image {
    background: #000105;
  
}
.image-index {
    background-color: #000105;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.img-responsive {
    background-color: #000105; 
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-go-back-to-collection, .btn-go-back-to-search {
    background-color: #323f54;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-go-back-to-collection:hover, .btn-go-back-to-search:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btns-go-back {
    margin-top: 15%;
}
.topCenter span{
    font-size: 40px;
}
.bottomCenter span {
    font-size: 20px;
}
.topCenter, .bottomCenter {
    top: 20%;
    text-align: center;
    width: 100%;
}

.bottomCenter {
    top: auto;
    bottom: 20%
}


             